%h1= t('layouts.listing')

%table
  %thead
    %tr
      %th= t('activerecord.attributes.product.name')
      %th= t('activerecord.attributes.product.description')
      %th= t('activerecord.attributes.product.price')
      %th= t('activerecord.attributes.product.weight')
      %th
      %th
      %th
      
  %tbody
    - @products.each do |product|
      %tr
        %td= product.name
        %td= product.description
        %td= product.price
        %td= product.weight
        %td= link_to t('layouts.show'), product
        %td= link_to t('layouts.edit'), edit_product_path(product)
        %td= link_to t('layouts.destroy'), product, :method => :delete, :data => { :confirm => t('layouts.confirmt') }

%br

  =paginate @products

= link_to t('layouts.newp'), new_product_path
