%h1= t('layouts.listing')

=paginate @products

%div{:class => ["list-group"]}
  -@products.each do |product|
    =link_to product, :class => "list-group-item" do
      %div.row
        %div{:class => "col-md"}
        %h4{:class => "list-group-item-text"}
        %div{:class => "col-md-2"}
          %p= product.name
          %h4{:class => "list-group-item-text"}
        %div{:class => "col-md-7"}
          %p=product.description
          %p{:class => "list-group-item-number"}
        %div{:class => "col-md-1"}
          %p= product.weight
          %p{:class => "list-group-item-number"}
        %div{:class => "col-md-2"}
          %p= number_to_currency(product.price)
        %div{:class => "col-md-1"}
      = link_to t('layouts.edit'), edit_product_path(product), class:"btn btn-primary"
      = link_to t('layouts.destroy'), product, :method => :delete, :data => { :confirm => t('layouts.confirmt') }, class:"btn btn-primary"

=paginate @products

= link_to t('layouts.newp'), new_product_path
