%p#notice= notice

%p
  %b= t('activerecord.attributes.product.name')
  = @product.name
%p
  %b= t('activerecord.attributes.product.description')
  = @product.description
%p
  %b= t('activerecord.attributes.product.price')
  = @product.price
%p
  %b= t('activerecord.attributes.product.weight')
  = @product.weight

= link_to t('layouts.edit'), edit_product_path(@product)
\|
= link_to t('layouts.back'), products_path
